
:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
}

body::-webkit-scrollbar {
    display: none;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.ContainerFlex {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 50px;
    background: url("../Pictures/Classes/BackGroundUniverso.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto;
}

.ContainerCARD {
    border-radius:5px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 10px 50px 10px;
}

.BtnExibir {
    background-color: #b43910;
    color: black;
    width: 70px;
    height: 40px;
    padding:10px;
    float:right;
    border-radius:5px;
    border:#b43910;
    font-weight:bolder;
    text-align:center;
    text-decoration:none;
}

.BackOn {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../Pictures/Classes/BackGroundClasseSamurai.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: moverFundo 20s ease infinite;
}
.BackOn2 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../Pictures/Classes/BackGroundClasseArcano.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: moverFundo 20s ease infinite;
}
.BackOn3 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../Pictures/Classes/BackGroundClasseShadow.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: moverFundo 20s ease infinite;
}
.BackOn4 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../Pictures/Classes/BackGroundClasseHunter.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: moverFundo 20s ease infinite;
}

@keyframes moverFundo {
    0% {
        background-position: center 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.ContainerCARDTEXT {
    width: 700px;
    height: auto;
    position:relative;
    left:20px;
    top:20px;
}

@media screen and (max-width: 600px) {
    .ContainerCARDTEXT {
        width: 100%;
        text-align: center;
        margin: 20px;
        left: 0px;
        top: 0px;
    }
    .ContainerFlex {
        padding-left: 0px;
    }
}

.ContainerCARDTEXT h1 {
    color: white;
    font-family: 'BeaufortforLOL-Regular Custom';
    text-shadow: 3px 5px 4px black;
    margin-bottom: 10px;
}
.ContainerMusic {
    position: relative;
    margin-left: 10px;
    top: 8px;
    cursor: pointer;
    transition:0.5s;
}

.ContainerMusic img {
    transition: 0.5s;
}

.ContainerMusic img:hover{
    transition:0.5s;
    scale:1.1;
}

.ContainerDescript {
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    color: black;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper {
    border-radius:5px;
    transition: all 0.5s;
    position: absolute;
    bottom:10px;
    width: 100%;
    z-index: -1;
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}

.wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient( to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97% );
}

.wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient( to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97% );
}

.card:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
}

.card:hover .wrapper::after {
    height: 120px;
}

.title {
    width: 100%;
    transition: transform 0.5s;
}

.card:hover .title {
    transform: translate3d(0%, -50px, 100px);
}

.character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}
